body{
    font-family: 'Roboto Condensed';
    overflow-x: hidden;
}

.navbar .container-fluid{
    margin: 0px 5vw 0px 5vw;
}

@keyframes fadeIn{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

#inicio{
    position: relative;
    height: 43vw;
    width: 100%;
}
#inicio img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#inicio h1{
    position: relative;
    color: #FFF;
    font-size: 4vw;
    top: 15vw;
    margin: 0px;
    animation: fadeIn 2s ease-in-out;
}

#proxEventos .card{
    margin: 0 0% 5px 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    transition-duration: 200ms;
}
#proxEventos .card:hover{
    transform: translateY(-5px);
}

#actividades{
    margin: 0 10% 0 10%;
}

footer a{
    color: #FFF;
    text-decoration: none;
    transition-duration: 200ms;
}
footer a:hover{
    color: #F7AE00;
}