body{
    font-family: 'Roboto Condensed';
}

.navbar .container-fluid{
    margin: 0px 5vw 0px 5vw;
}

@keyframes fadeIn{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

#inicio h1{
    color: #FFF;
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%);
    animation: fadeIn 2s ease-in-out;
}

#actividades{
    margin: 0 10% 0 10%;
}

footer a{
    color: #FFF;
    text-decoration: none;
    transition-duration: 200ms;
}
footer a:hover{
    color: #F7AE00;
}