{% extends "UsmCalendar/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'UsmCalendar/css/style.css' %}">
{% endblock styles %}

{% block body %}
<header>
    {% comment %} {% include 'UsmCalendar/header' %} {% endcomment %}
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #004B85;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'UsmCalendar/img/logo-usm_blanco.svg' %}" alt="Logo USM" width="100%" height="100%">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    <a class="nav-link" href="{% url 'admin:index' %}">Administracion</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <img src="{% static 'UsmCalendar/img/fondo_vina.png' %}" alt="Fondo Calendario" width="100%">
</section>

{% endblock %}